<template>
  <div>
    <nav-bar></nav-bar>
    <div class="container">
      <div class="card">
        <transition v-if="show" name="bounce" appear mode="out-in">
          <img src="../assets/images/check_green_icon.png" alt="" style="width: 130px; margin-top: 2rem">
        </transition>
        <div class="message-success">
          <h2>Bienvenido {{getUser.name}}</h2>
          <p>Login Ok...</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
export default {
  name: 'HomeView',
  components: {NavBar},
  props: [],
  data() {
    return {
      show: false
    }
  },
  computed: {
    getUser() {
      return this.$store.getters.user
    }
  },
  methods: {},
  created() {
    setTimeout(() => {
      this.show = true
    }, 200);
  }
}
</script>

<style lang='scss'>
</style>
