<template>
  <div>
    <div class="login-cover">
      <div class="login-cover-image">
      </div>
    </div>
    <login-form :loading="loading" :error-login="errorLogin" @onChangeValues="errorLogin = false" @onSubmit="login_submit"></login-form>
  </div>
</template>

<script>
import LoginForm from "../components/login/LoginForm.vue";

export default {
  name: 'LoginView',
  components: {LoginForm},
  data() {
    return {
      loading: false,
      errorLogin: false,
    }
  },
  methods: {
    login_submit(credentials) {
      this.loading = true;
      this.login(credentials.user, credentials.password)
          .then(async (res) => {
            if (res.error===0){
              console.log('Errores:', res.errores)
              await this.$router.push({name:'home'});
            } else {
              this.errorLogin = true
              console.log('Errores:', res.errores)
            }
            this.loading = false;
          })
          .catch((err) => {
            this.loading = false;
            console.log(err)
            return this.error;
          });
    }
  }
}
</script>

<style lang='scss'>

</style>
