<template>
  <div class="container">
    <div class="card">
      <transition v-if="show" name="bounce" appear mode="out-in">
        <img src="../assets/images/404.png" alt="" style="width: 130px; margin-top: 2rem">
      </transition>
      <div class="message-success" style="text-align: center">
        <span style="font-size: 6rem">404</span>
        <p>Error la dirección no existe...</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NotFound',
  props: [],
  data() {
    return {
      show: false
    }
  },
  computed: {},
  methods: {},
  created() {
    setTimeout(() => {
      this.show = true
    }, 200);
  }
}
</script>

<style lang='scss'>

</style>
