<template>
    <div class="navigation">
      <span class="button" @click="logOut">
        <font-awesome-icon class="icono-logout" icon="right-from-bracket"></font-awesome-icon>
        <div class="logout">LOGOUT</div>
      </span>
    </div>
</template>

<script>
export default {
  name: 'NavBar',
  props: [],
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang='scss'>
.topnav {
  overflow: hidden;
  background: none;
  display: flex;
  justify-content: flex-end;
  height: 3rem;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
}

.icono-logout {
  float: left;
  height: 25px;
}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;

}

.button {
  text-decoration: none;
  float: right;
  padding: 12px;
  cursor: pointer;
  margin: 15px;
  color: black;
  width: 25px;
  background-color: white;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

.button:hover {
  width: 100px;
}

.button:hover .logout{
  opacity: .9;
}


</style>
