<template>
  <ValidationProvider
      class="TextInput"
      tag="div"
      :vid="vid"
      :rules="rules"
      :name="name || label"
      v-slot="{ errors, required, ariaInput, ariaMsg }"
  >
    <input
        class=""
        :class="{ 'border-red': errors[0]||errorLogin, 'sin-borde': !errors[0], 'has-value': hasValue }"
        :id="name"
        :type="type"
        :placeholder="placeholder"
        ref="input"
        v-model="innerValue"
        v-bind="ariaInput"
    >
    <font-awesome-icon v-if="errors[0]||errorLogin" :class="`error-icon-${name}`" icon="exclamation-circle"></font-awesome-icon>
    <label
        class=""
        @click="$refs.input.focus()"
        :for="name"
        :class="`floating-label-${name}`"
    >
      <span>{{ label || name }}</span>
    </label>
    <span
        :class="classErrorMessage"
        v-bind="ariaMsg"
        v-if="errors[0]"
    >{{ errors[0] }}</span>
  </ValidationProvider>
</template>

<script>
export default {
  name: 'TextInput',
  props: {
    vid: {
      type: String,
      default: undefined
    },
    name: {
      type: String,
      default: ""
    },
    label: {
      type: String,
      default: ""
    },
    rules: {
      type: [Object, String],
      default: ""
    },
    placeholder: {
      type: String,
      default: ""
    },
    classErrorMessage: {
      type: String,
      default: ""
    },
    type: {
      type: String,
      default: "text",
      validator(value) {
        return [
          "url",
          "text",
          "password",
          "tel",
          "search",
          "number",
          "email"
        ].includes(value);
      }
    },
    value: {
      type: null,
      default: ""
    },
    errorLogin: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      innerValue: ""
    }
  },
  computed: {
    hasValue() {
      return !!this.innerValue;
    }
  },
  watch: {
    innerValue(value) {
      this.$emit("input", value, this.name);
    },
    value(val) {
      if (val !== this.innerValue) {
        this.innerValue = val;
      }
    }
  },
  created() {
    if (this.value) {
      this.innerValue = this.value;
    }
  }
}
</script>

<style lang='scss'>
</style>
