<template>
  <ValidationObserver v-slot="{ handleSubmit }">
    <form class="login-form" @submit.prevent="handleSubmit(login_submit)">
      <div class="login-form-body">
        <img src="../../assets/images/cintelink-logo.svg" alt="" style="margin-top: 39px;">
        <div class="login-inputs">
          <TextInput rules="required|validcaracter|min:3|max:20" label="Usuario" :error-login="errorLoginData" :value="credentials.user" type="text" name="user" class-error-message="error-message-user" @input="getValue"></TextInput>
          <TextInput rules="required|minpass:8" label="Contraseña" :error-login="errorLoginData" :value="credentials.password" type="password" name="password" class-error-message="error-message-password" @input="getValue"></TextInput>
          <span v-if="errorLoginData" class="error-message-password">Nombre de usuario o contraseña incorrectos</span>
        </div>
        <button :disabled="loading" type="submit" class="btn">
          <div v-if="loading" class="loader" ></div>
          <span v-else><font-awesome-icon class="icono" icon="unlock" />LOGIN</span>
        </button>
        <div class="bottom-text">
          <span class="forgot-password" @click="proximamente">¿Olvidaste tu contraseña?</span>
          <span class="create-account" @click="proximamente">Crear una cuenta</span>
        </div>
      </div>
    </form>
  </ValidationObserver>
</template>
<script>
import TextInput from "@/components/TextInput";

export default {
  name: 'LoginForm',
  components: {TextInput},
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    errorLogin: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      credentials: {
        user: '',
        password: ''
      },
      errorLoginData: false
    }
  },
  watch: {
    errorLogin(value) {
      this.errorLoginData = value;
    },
  },
  methods: {
    login_submit() {
      this.$emit('onSubmit', this.credentials);
    },
    proximamente() {
      alert('Proximamente...')
    },
    getValue(value, name) {
      this.errorLoginData = false
      this.$emit('onChangeValues');
      this.credentials[name] = value
    }
  },
}
</script>

<style lang='scss'>

</style>
