<template>
  <div id="app" >
    <transition name="fade" appear mode="out-in" >
      <router-view/>
    </transition>
  </div>
</template>
<script>
export default {
  created() {
    this.$store.dispatch('setUser');
  }
}
</script>
<style lang="scss">

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
