@media (min-width:401px) {
  @font-face {
    font-family: 'Roboto';
    font-weight: 400;
  }
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    height: 100%;
    letter-spacing: 0;
  }
  .inicio {
    background-color: #53c245;
  }
  .ingresar {
    background-color: #102e52;
  }
  .login-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .login-cover .login-cover-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover !important;
    background: url('../../assets/images/fondo.jpg') no-repeat center;;
  }
  .login-form {
    height: 377px;
    background: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    position: absolute;
    top: 30%;
    width: 311px;
    bottom: 0;
    margin: 0 0 0 -156px;
    left: 50%;
    -webkit-border-radius: 8px;

  }
}
//Login View
.login-form-body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
}
.login-inputs {
  display: flex;
  flex-direction: column;
}
.login-form-body img{
  margin-top: 39px;
  width: 161px;
  height: 37px;
  margin-bottom: 3px;
}
.login-inputs .TextInput .sin-borde{
  margin-left: 19px;
  margin-right: 18px;
  margin-top: 25px;
  display: block;
  height: 14px;
  width: 259px;
  background: #E5E5E5;
  border-radius: 8px;
  border:none;
  padding: 18px 0 10px 15px;
}
.login-inputs .TextInput .border-red{
  margin-left: 19px;
  margin-right: 18px;
  margin-top: 25px;
  display: block;
  height: 12px;
  width: 257px;
  background: #E5E5E5;
  border: 1px solid #EB5757;
  border-radius: 8px;
  padding: 18px 0 10px 15px;
}
.login-inputs .TextInput .sin-borde:focus{
  margin-left: 19px;
  margin-right: 18px;
  margin-top: 25px;
  display: block;
  height: 14px;
  width: 259px;
  background: #E5E5E5;
  border-radius: 8px;
  padding: 18px 0 10px 15px;
  outline: none !important;
}
.login-inputs .TextInput .border-red:focus{
  margin-left: 19px;
  margin-right: 18px;
  margin-top: 25px;
  display: block;
  width: 257px;
  border: 1px solid #EB5757;
  border-radius: 8px;
  height: 12px;
  background: #E5E5E5;
  padding: 18px 0 10px 15px;
  outline: none !important;
}
.TextInput {
  .floating-label-user{
    position: absolute;
    width: 41px;
    height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #4F4F4F;
    pointer-events: none;
    left: 34px;
    top: 118px;
    transition: 0.2s ease all;
  }
  .floating-label-password{
    position: absolute;
    width: 41px;
    height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #4F4F4F;
    pointer-events: none;
    left: 34px;
    top: 185px;
    transition: 0.2s ease all;
    border: none;
  }
  input.has-value.border-red ~ .floating-label-user,
  input:focus ~ .floating-label-user {
    top: 110px;
    left: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 8px;
    color: #4F4F4F;
  }
  input.has-value ~ .floating-label-user,
  input:focus ~ .floating-label-user {
    top: 110px;
    left: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 8px;
    color: #4F4F4F;
  }
  input.has-value ~ .floating-label-password,
  input:focus ~ .floating-label-password {
    top: 177px;
    left: 34px;
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 8px;
    border: none;
    color: #4F4F4F;
  }
}

.btn {
  display: inline-block;
  font-weight: 700;
  color: white;
  width: 104px;
  height: 34px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #2d9cdb;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 12px;
  line-height: 14.06px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 33px;
  margin-bottom: 22px;
}
.btn span{
  width: 38px;
  height: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
.btn span .icono{
  margin-right: 12px;
  width: 10px;
  height: 12px;
}
.btn:hover {
  background-color: #1878af;
  text-decoration: none;
}
.loader {
  font-size: 10px;
  margin: 0 auto;
  text-indent: -9999em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #2D9CDB;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.btn:hover .loader:after {
  background: #1878af;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bottom-text{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.forgot-password {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #2D9CDB;
}
.create-account {
  margin-top: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.error-message-user {
  position: absolute;
  height: 12px;
  top: 151px;
  left: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EB5757;
}
.error-message-password {
  position: absolute;
  height: 12px;
  top: 218px;
  left: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EB5757;
}
.error-icon-user {
  position: absolute;
  top: 117px;
  right: 32px;
  color: #EB5757;
}
.error-icon-password {
  position: absolute;
  top: 184px;
  right: 32px;
  color: #EB5757;
}

//Home view
.container{
  display: flex;
  justify-content: center;
  margin-top: 6%;
}
.card{
  background: white;
  height: 30rem;
  width: 30rem;
  top: 25vh;
  left: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.message-success {
  position: absolute;
  margin-top: 170px;
}
